* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Chakra UI dark mode override */


body.chakra-ui-light {
  background: #f5f5f5;
}

body.chakra-ui-dark {
  background: #0d0d0d;
}

p {
  margin: 0px !important;
}

#nprogress .bar {
  background: #c71f1f !important;
  border: 1px solid #c71f1f !important;
}

/* Globals */
.no-scrollbar::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none !important;
}

.img-rounded {
  border-radius: 50%;
  object-fit: cover;
}
